<nav class="nav bg-light padding">
    <li class="nav-item">
        <%= link_to "Root", root_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Articles", articles_path, class:"nav-link" %>
    </li>
    <% if user_signed_in? %>    
        <li class="nav-item">
            <%= link_to "Write", new_article_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Category", categories_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Profile", perfil_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= button_to destroy_user_session_path, method: :delete,  class:"nav-link btn-delete" do %>
            Sign-out
            <% end %>
        </li>
    <% else %>
        <li class="nav-item">
            <%= link_to "Sign-In", new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Sign-Up", new_user_registration_path, class:"nav-link" %>
        </li>
    <% end %>
</nav>
