<div class="small-container center-block">
    <p class="font-weight-bold text-uppercase margin-top"> Update User</p>

    <%= image_tag url_for(current_user.avatar) , height:200, width:200 %>
    <%= form_with(model: current_user, local: true) do |form| %>
        <div class="field">
            <%= form.label :avatar %>
            <%= form.file_field :avatar %>
        </div>
        <div class="actions">
            <%= form.submit class:"btn btn-primary"%>
        </div>
    <% end %>
</div>
